// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 65px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.center {
  margin: auto;
  width: 500px;
}

.center-home {
  margin: auto;
  width: 400px;
}

.homepage {
  padding: 50px;
}

.inventory-table {
  th, td {
    padding: 15px;
    text-align: center;
  }
}

.btn-product{
  width: 100%;
}

a.product-link{
  color: #333333;
  text-decoration: none;
}

a:hover.product-link{
  color: #333333;
  text-decoration: none;
}

#sale_message {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

#in_stock {
  color: green;
  font-size: 16px;
}

#out_of_stock {
  color: red;
  font-size: 16px;
}

#description {
  height: 150px;
}

.silver-border {
  border: 1px solid #e7e7e7;
}

#price_table {
  border-style: none;
  td {
    padding: 10px;
  }
  td:nth-child(even) {
    float: right;
  }
  td:nth-child(odd) {
    background-color: #f8f8f8;
  }
  tr:last-child {
    border-top: solid 1px black;
  }
}

.out_of_stock-badge{
  position: absolute;
  margin: auto;
  right: -3px;
  top: 20px;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}

.on_sale-badge{
  position: absolute;
  margin: auto;
  right: -3px;
  top: 20px;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}