<table>
<% @products.each do |product| %>
  
  <tr>
    <td class="col-md-4">
      <img src="<%= product.image %>">
    </td>

    <td class="col-md-8">
      <div class="row">
        <%= product.name %>
      </div> 
      <div class="row">
        <%= product.price %>
      </div> 
      <div class="row">
        <%= product.description %>
      </div> 
    </td> 
  </tr>

<% end %>
</table>

